@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.footer {
    margin-top: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    
 }
 p{
    font-family: 'Itim', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif,
    cursive;
    color: black;
    font-size: 16px;
 }